<div class="container">
  <div class="header">
    <h1>Angular Password Generator</h1>
  </div>

  <div class="first-section">
    <p>Length</p>
    <input class="input" placeholder="Enter Number" (keyup)="onKey($event)">
    <p>{{userInput}}</p>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Use Letters
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" (change)="numberChecked()">
      <label class="form-check-label" for="flexCheckChecked">
        Use Numbers
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Use Symbols
      </label>
    </div>
    <button class="btn btn-primary" (click)="onClick(userInput)">Generate</button>
  </div>

  <div class="second-section">
    <p>Your Password</p>
    <input type="text" class="input" value = {{answerOutput}}>
  </div>
</div>
