<div class="container">
  <div class="header">
    <h1>Angular Password Generator</h1>
  </div>

  <div class="first-section">
    <p>Length</p>
    <input class="input">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
      <label class="form-check-label" for="flexCheckDefault">
        Use Letters
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Use Numbers
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
      <label class="form-check-label" for="flexCheckChecked">
        Use Symbols
      </label>
    </div>
    <button class="btn btn-primary">Generate</button>
  </div>

  <div class="second-section">
    <p>Your Password</p>
    <input type="text" class="input">
  </div>
</div>
